/* #up,right,down,left */

body{
	background-color: #FC9;
}
.LoginSpace{
	margin: auto;
	padding: 5px;
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
}


.Login{
	margin: 10px;
	padding: 5px;
	clear: both;
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
	width: 220px;
	float: none;
	line-height: 100%;
}
.Login p{
	text-align: center;
	
}